body {

    margin: 0;
    font-family: Arial, sans-serif;

}

.logo-square {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #1c2503;
    color: #b2ff23;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    font-weight: bold;
    border: 3px solid #b2ff23;
    border-radius: 8px;
    margin-right: 10px;

}

.logo-student {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #fffdfd;
    margin-right: 5px;

}
.logo-corner {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #b2ff23;

}

nav{
    background-color: #020018;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}

nav ul{
    display: flex;
    gap: 30px;
    list-style: none;

    margin: 0;
    padding:0;

   
}

nav ul a{
   color: #fffdfd;
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;

}

nav ul svg{
    width: 20px;
    height: 20px;
    color: #b2ff23;

}

nav a{
    text-decoration: none;
    
}


